section.homesection { /* section parent*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg,#8614ce,#ff0057);
    overflow-y: hidden;
}
section.homesection:before {
    content: '';
    position: absolute; /* obligatoire pour ajouté le triangle*/
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background:#fff;
/*100 0 haut a gauche , 0 100 haut a doite , 100 100 bas a droite 
more info contact website : bennettfeely*/
clip-path: polygon(100% 0 , 0 100% , 100% 100%);
}
.container {
  display: flex;
  width: 100vw;
}
.monimg {
  width:500px;
  height:400px;
  animation: move 2s infinite alternate; /* Utilisation de l'animation "move" pendant 2 secondes, en boucle */
}
.Home {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top:10vh;
  margin-left: 10vw;
}
.txttrpc {
  position: relative;
  font-size: 50px;
}
.logo {
  display: flex;
  width: 100vw;
  margin-left: 15vw;
}
@media screen and (max-width:1000px) {
  .logo {
    margin-left: 0vw;

  }
  .monimg {
    width: 250px;
  }
  .container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.Home {
  display: flex;
  justify-content: center;
  width: 100%; 
  flex-direction: column;
}
.txttrpc {
  font-size: 50px;
}
.logo {
  justify-content: center;
}
}
.nav {
    position: relative;
    display: flex;  
    gap: 50px;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
}
.nav h3 {
    color: white;
}
@media screen and (max-width:500px){
  .nav {
  position: relative;
    display: flex;
    gap: 50px;
    width: 100vw;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
}
 h1 {
    color: white; 
}
.logo h2 {
    color: white;
}
.prensentation {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.subtitle {
   color: #FFD700;
  }
.btn2 {
  position: relative;
    background-image: var(--gradient-2);
    color: var(--white);
    padding: 12px 35px;
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    border-radius: 0 25px;
    transition: var(--transition-2);
    background: linear-gradient(45deg,#8614ce,#4000ff);
  }
  .btn2  {
    color: white;
  }
/*npm install react-spring*/
@keyframes move {
    0% {
      transform: translate(0, 0); /* Début de l'animation : pas de déplacement */
    }
    50% {
      transform: translate(10px, 10px); /* Milieu de l'animation : déplacement vers la droite et vers le bas */
    }
    100% {
      transform: translate(0, 0); /* Fin de l'animation : retour à la position initiale */
    }
  } 
