.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
}
.title {
    display: flex;
    width: 100vw;
    justify-content: center;
}
.treecard {
    display: flex;
    width: 100vw;
    gap: 30px;
    justify-content: center;
    
}
  .same {
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  .same:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
.title h1 {
    color: indigo;
}
h3 {
    color: indigo;  
}
.indicspecial {
    display: flex;
    justify-content: center;
}